*{
    padding: 0px;
    margin: 0px;
    font-size: .67rem;/*14px*/
    /*font-family:"arial, helvetica, sans-serif";*/
    font-family: "微软雅黑";
    box-sizing: border-box;

}
/*[contenteditable = "true"], input, textarea {
    -webkit-user- select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}*/
input{
    -webkit-appearance: none;

}
video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /*border: 1px solid red;*/
}
.layout{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.7);
}
.live_end_con{
    position: relative;
}
.main{
    width: 100%;
    overflow: hidden;
}
.radiu50{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.radiu20{
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.radiu05{
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
}
.fl{
    float: left;
}
/*.neight_perent{
	width: 95%;
	height: auto;
	margin: 0px auto;
	position: absolute;
}*/
.message06{
    margin-left: .6rem;
    margin-right: .6rem;
}
.img{
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.marginT07{
    margin-top: .7rem;
}
.color_yellow{
    color: #ff9447 !important;
}
.color_purple{
    color: #d82af1 !important;
}
.color_red{
    color: #fd5951 !important;
}

/*public end*/

.mask{
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;
    z-index: 22;
}

/*index.html*/
.container{
    width: 100%;
    height: 100%;
}
.follow_con_left{
    height: 2rem;
}
.follow_con_left,.follow_con_right{
    position: absolute;
    width: auto;
    left:0;
    top:0;
    background:rgba(0,0,0,0.5);
    top: 1rem;
    /*border: 1px solid red;*/
}
.follow_con_right{
    margin-right: .6rem;
}
.head_portrait_img{
    height:1.8rem;
}
.fllow_name_con{
    float: left;
    padding: .24rem;
    color: #fff;
}
.fllow_btn{
    color: #fff;
    background: #ce4143;
    width: auto;
    padding: .2rem .4rem;
    font-size: .67rem;
}
.about_name{
    font-size: .67rem;
}
.about_number{
    font-size: .48rem;
}
.fllow_about_left,.fllow_about_midddle,.fllow_about_right{
    float: left;
    height: 2rem;
    padding-right: .3rem;
    color: #fff;
}
.fllow_about_left{
    padding-top: .1rem;
    padding-left: .1rem;
}
.fllow_about_midddle{
    padding-top: .1rem;
}
.fllow_about_right{
    padding-top: .3rem;
}


.position_left,.position_right{
    background:rgba(0,0,0,0.5);
    width: auto;
    position: absolute;
    color: #fff;
}
.position_left{
    left: .6rem;
    top: 1rem;
}
.position_right{
    top: 1.2rem;
    right: .6rem;
    padding: .3rem .5rem;
}
.position_bottom_right{
    position: absolute;
    color: #fff;
    right: .6rem;
    top: 4rem;

}
.position_bottom_right p{
    font-size: .67rem;
}
.gift_special_effects{
    width: 18rem;
    height: 7rem;
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 12rem;
    overflow: hidden;
}
.watermelon_img{
    height: 2rem;
    position: relative;
    top: -.3rem;
    margin-left: .5rem;
    right: -.9rem;
}
.gift_number_con{
    float: left;
    position: absolute;
    right: -3.5rem;

    -webkit-animation-name: littleGiftZoomIn;
    animation-name: littleGiftZoomIn;
    animation-duration: 3s;
    animation-delay:3s;
    -webkit-animation-duration: 3s;
}
.ride{
    height: .8rem;
}
.gift_number_img{
    height: 1.5rem;
}

.live_con{
    width: 100%;
    height: 5rem;
    position: relative;
}



/*@keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px)
	}
	80% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}


@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		transform: translateX(30px)
	}
	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}*/


.live_gift_con{
    width: 100%;
    height: 3rem;
    position: relative;
    /*display: none;*/
    /*margin-top: .5rem;*/
    /*transition:all 3s ease-in-out ;
    transform:translate(50px,0px);*/
    /*display: none;*/
    /*-webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft*/

}
.main_body {
    height:7.2rem;
    overflow-y: scroll;
    position: absolute;
    bottom: 4rem;
}

.position_re{
    position: relative;
}
.notouch{
    width: 100%;
    height: 100%;
    position: absolute;
    /*border: 1px solid blue;*/
}

/*.live_photo1,.live_name2,.live_gift3,.live_number4{
	border: 1px solid red;
	width: 2rem;
	height: 3rem;
	float: left;
}
.live_photo1,.live_name2{
	background: rgba(0,0,0,0.5);
}*/
.massage_info_con{
    width: 18rem;
    height: 7rem;
    /*border: 1px solid blue;*/
    position: absolute;
    bottom:4rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*border: 1px solid red;*/
}
.message_overflow{
    width: 18rem;
    /*height: 2rem;*/
    overflow: hidden;
}
/*.ngmob_massage_right  div:nth-of-type(1){
	color: transparent;
	height: 1.5rem;
	line-height: 1.5rem;
	border: 1px solid red;
}*/
.open_text{
    color: transparent;
    border: 1px solid red;
    height: .5rem;
}
.level_text{
    margin-left: 1.5rem;line-height: 1.2rem;
}
.ngmob_level_bg{
    color: #fff;
}
.ngmob_level_img{
    position: absolute;
    z-index: -1;
    height: 1.2rem;
}
.ngmob_massage_left,.ngmob_massage_right{
    /*border: 1px solid red;*/
    float: left;
    height: 1.5rem;
    padding-top: .1rem;
}
.ngmob_massage_left{
    width: 4rem;
    padding-left: .6rem;
}
.ngmob_massage_right{
    width:13.5rem;
    padding-left: .2rem;
}
.live_commen{
    color: #fff;
    padding-top: .2rem;
}
/*.footer_con{

	display: block;
}*/

.ngmob_footer{
    position: absolute;
    width: 18rem;
    height: 2rem;
    /*line-height: 2rem;*/
    bottom:10px;
    display: block;
}
.footer_input{
    background: rgba(0,0,0,0.3);
    /*height: 1.5rem;*/
    line-height: 1.5rem;
    border: 0px;
    /*text-align: center;*/
    padding-left: .5rem;
    color: #fff;

}
/*input[placeholder], [placeholder], *[placeholder] {
color:#fff !important;
} */


/*input:focus::-webkit-input-placeholder{ color:#fff; }*/
.chat_footer{
    position: absolute;
    width: 18rem;
    /*height: 2rem;*/
    padding: .5rem 0;
    bottom:0;
    display: none;
    background-color: #fff;
}

.footer_left,.footer_right{
    float: left;
    /*border: 1px solid red;*/
    width: 8.9rem;
}
.footer_left{
    padding-left: .6rem;
}
.footer_right{
    text-align: right;
    padding-right: .6rem;
}
.chat_foot_left,.chat_foot_right{
    float: left;
}
.chat_foot_left{
    width: 13.8rem;
    padding-left: .6rem;
}
.chat_foot_right{
    width: 4rem;
    padding-right: .6rem;
    text-align: right;
}
.chat_foot_left input{
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: .5rem;
    width: 100%;
    background: #F5F5F5;
    border: 0;
}
.send_btn{
    background: #cd4142;
    color: #fff;
    width: 3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 0;
}
.present_con{
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(0,0,0,0.5);
    text-align: center;
    float: right;
    padding-top: .2rem;
}
.present_img{
    height: .95rem;
}

/*逗米充值*/
.funny_recharge_con{
    width: 100%;
    height: 11rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 22;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    display: none;
}
.recharge_title{
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
}
.close_btn{
    position: absolute;
    float: right;
    margin-right: 1rem;
    top: 0px;
    right: 10px;
}
.funny_list{
    width: 100%;
    height: auto;
    overflow: hidden;
}
ul li{
    list-style: none;
}
.funny_list ul li{
    width: 33%;
    height: 3rem;
    text-align: center;
    float: left;
    padding-top: .5rem;
}
.theme_con{
    border: 1px solid #666666;
    width:80%;
    margin: 0px auto;
    padding: .2rem 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #666666;
}
.theme_con p{
    font-size: .57rem;
}
.funny_select{
    border: 1px solid #CE4143 !important;
    color: #ce4143 !important;
}
.funny_payment_btn{
    width: 5.2rem;
    height: 1.68rem;
    line-height: 1.68rem;
    background: #CE4143;
    color: #fff;
    border: 0px;
}
.funny_pay_con{
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}
/*live_list.html*/
.live_con_sign{
    /*padding-bottom: .8rem;*/
}
.live_neight_perent_i{
    width: 90%;
    height: auto;
    margin: 0px auto;
}
.live_neight_perent{
    width: 90%;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}
.profile_con,.profile_con_end{
    overflow: hidden;
}
.profile_con{
    width: 16rem;
    height: auto;
    padding: .5rem 0;

    /*border: 1px solid red;*/
}
.profile_con_end{
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    background: rgba(0,0,0,.6);
}
.profile_left,.profile_middle,.profile_right{
    /*border: 1px solid red;*/
    float: left;
    /*height: 2.5rem;*/
}
.profile_left{
    width:3rem;
    /*text-align: center;*/
}
.profile_middle{
    width: 8.8rem;
}
.profile_right{
    width: 4rem;
    text-align: right;
}
.pro_top_name_con{
    width: 100%;
    height: 1rem;
    overflow: hidden;
}
.pro_name{
    font-size: .72rem;
    font-weight: bold;
    float: left;
}
.pro_level_con{
    float: left;
    position: relative;
    margin-left: .5rem;
    margin-top: .1rem;
}
.live_level_img{
    height: .8rem;
    vertical-align: middle;
    position: absolute;
}
.level_number{
    position: absolute;
    margin-left: .9rem;
    color: #fff;
    font-size: .57rem;
    padding-top: .1rem;
}
.coordinate_img{
    height: .6rem;
    vertical-align: inherit;
}
.city_name{
    color: #666666;
    font-size: .57rem;
}
.audience{
    color: #ff9447;
    font-size: .57rem;
}
.look_at{
    color: #999;
    font-size: .57rem;
}
.avatar_img{
    height: 2rem;
    vertical-align: middle;
}
.trades_text{
    width: 100%;
    color: #fff;
    font-size: .72rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
    margin-top: -1.8rem;
}
.cover_pic_con{
    width: 100%;
    height: auto;
    padding-bottom: .45rem;
    overflow: hidden;
    border-bottom: 4px solid #f5f5f5;
}
.profile_con_end .profile_middle{
    color: #fff;
}
.click_download{
    padding: .3rem .3rem;
    color: #CE4143;
    background-color: #fff;
}
.live_end_text{
    position: relative;
    text-align: center;
    top: -10rem;
}
.live_end_text p{
    color: #CE4143;
    font-size: 1.34rem;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.more_live_hot_text{
    width: 100%;
    font-size: .72rem;
    color: #333333;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    /*margin-top: -1.9rem;*/
    text-align: center;
    background: #fff;

}
.more_live_list_con{
    width: 98%;
    margin: 0px auto;
    overflow: hidden;
    background: #fff;
}
.more_live_list_con ul li{
    width: 50%;
    float: left;
    border: 1px solid #f5f5f5;
}
.live_hot_con{
    width: 100%;
    height: auto;
    overflow: hidden;

}
.live_hot_left,.live_hot_right{
    float: left;
    height: 1.5rem;
    line-height: 1.2rem;
    font-size: .57rem;
}
.live_hot_left{
    width:60%;
    padding-left: .2rem;
}
.live_hot_right{
    width:40%;
    padding-right: .2rem;
}
.live_hot_right{
    text-align: right;
}
.live_hot_eye_img{
    height: .6rem;
    vertical-align: sub;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
/*.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}*/
.gift_list{
    width: 100%;
    height: auto;
    background: rgba(0,0,0,.5);
    padding-bottom: .5rem;
    position: absolute;
    bottom: 0px;
    display: none;
}
.swiper_con_test{
    width: 100%;
    height: 10rem;
    overflow: hidden;
}
.swiper_con_test dl dt{
    font-size: .57rem;
}
.swiper_con_test ul li{
    float: left;
    width: 20%;
    height: 4.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-top: .5rem;
    padding-bottom: .5rem;
    /*border: 1px solid black;*/
}
.img{
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.pick_img{
    height: 2rem;
    text-align: center;
}
.funy_con{
    width: 100%;
    overflow: hidden;
    padding-bottom: .5rem;
}
.mi_img{
    height: .6rem;
    vertical-align: inherit;
}
.send_funny{
    padding: .2rem .8rem;
    background: #CE4143;
    color: #fff;
    text-align: center;
    float: right;
    font-size: .57rem;
}
.funny_mi{
    color: #ffea00;
    margin-top: .2rem;
}
.color_e9c{
    color: #a09e9c !important;
}
.swiper_selected{
    border: 1px solid #CE4143 !important;
    /*background: #fff;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ces{
    width: 18rem;
    top: 50%;
    left: -11rem;
    border-radius: 10rem;
    left: 0.5rem;
    display:  none;
}



